body {
    font-family: Arial, sans-serif;
    background: #fad0c4;
    margin: 0;
}

/* Main box */
.container {
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

/* Heading */
h1 {
    text-align: center;
    color: #ff4e50;
}

/* List */
ol li {
    background: #ff9966;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Small list */
ul {
    margin-left: 20px;
}

/* Button */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #ff4e50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
