body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#ff512f,#dd2476);
    margin: 0;
    color: white;
}

/* Main box */
.container {
    width: 70%;
    margin: 40px auto;
    padding: 20px;
    background: rgba(255,255,255,0.15);
    border-radius: 10px;
}

/* Heading */
h1 {
    text-align: center;
    color: #fff176;
}

/* List */
ol li {
    background: rgba(255,255,255,0.2);
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Small list */
ul {
    margin-left: 20px;
}

/* Button */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: white;
    color: #dd2476;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
